<div id="header">
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse" role="navigation">
    <button type= "button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#exCollapsingNavbar">
      &#9776;
    </button>

    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar">
      <a class="navbar-brand" href="#">RroWong Makeup Store</a>
      <ul class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/products/face">Face</a></li>
        <li class="nav-item"><a class="nav-link" href="/products/lip">Lip</a></li>
        <li class="nav-item"><a class="nav-link" href="/products/mask">Mask</a></li>
      </ul>
    </div>
  </nav>
</div>
